<%= form_for(@room) do |f| %>
<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <%= f.text_field :name, class: "form-control"%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <label for="exampleInputEmail1">Capacity</label>
        <%= f.text_field :capacity, class: "form-control"%>
      </div>
    </div>
  </div>
</div>
<p>
<%= @room.errors.full_messages.first unless @room.errors.blank? %>
</p>
<button type="submit" class="btn btn-default">Submit</button>
<% end %>